[Unit]
Description=APKOVL HTTP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/apkovl-http-server -config /etc/apkovl-http-server/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
